

--------------- Back End - Node js / normal-mvc-structure ---------------
Back End - Node js/normal-mvc-structure/node_modules
Back End - Node js/normal-mvc-structure/.env
Back End - Node js/normal-mvc-structure/src/logs/*
--------------- ---------------